
  <div id="parallax-world-of-ugg">
  
    <section>
      <div class="title">
        
        <h1>PARALLAX</h1>
      </div>
    </section>
    
    <section>
        <div class="parallax-one">
          <h2>APARTAMENTOS DE DISEÑO</h2>
        </div>
    </section>
    
    <section>
      <div class="block">
        <H1>Piso de lujo en el centro de MADRID</H1>
        <p>Hemos realizado instalaciones domóticas en viviendas de todo tipo: apartamentos, pisos, casas, chalets y mansiones o villas. En la mayoría de los casos la vivienda se encontraba en fase de construcción o de reforma pero también ofrecemos soluciones para viviendas que están en uso y no permiten trabajos de albañilería. 

           </p>
        <p class="line-break margin-top-10"></p>
        <p class="margin-top-10"> En este caso se ha montado una instalación domótica que permite el control de iluminación interior, control de aire acondicionado, calefacción, persianas, estores y toldos motorizados, alarmas técnicas, pantallas táctiles y pulsadores, control remoto total de la vivienda a través del móvil e Internet, CCTV…</p>
        <p class="line-break margin-top-10"></p>
        <p class="margin-top-10">Se instalaron LED de colores en el techo, la cocina y cuartos de baño que con un solo click toda la estancia varía de intensidad y color según el estado de ánimo o al gusto del propietario.</p>
    </div>
    </section>
    
    <section>
      <div class="parallax-two">
        <h2>VIVIENDA DE LUJO</h2>
      </div>
    </section>
    
    <section>
      <div class="block">
        <h1>CASA DE LUJO EN ARANJUEZ</h1>
        <p>Esta vivienda de gran lujo, cuenta con una instalación KNX completa en su interior.

            Permite el control de toda la iluminación interior y exterior de la misma, así como el control de todas las persianas y estores del domicilio.
            
            De igual modo se ha integrado el control del suelo radiante/refrescante para cada una de las estancias de la vivienda, con ello conseguimos mantener estable, y con la temperatura deseada, en todas y cada una de las estancias.
            
            También se ha procedido a controla domóticamente la depuradora de la piscina, así como el automatismo .</p>
        <p class="line-break margin-top-10"></p>
        <p class="margin-top-10">Se han instalado alarmas técnicas en sala de máquinas, cocina, baños, aseos, etc. de manera que, en caso de detectarse un incendio o inundación, se avisa automáticamente a los propietarios para que actúen en consecuencia.

            De igual modo se cuentan con sensores en todas las puertas y ventanas de la vivienda que evitan que un estor pueda moverse estando su correspondiente ventana abierta, evitando el deterioro del mismo al golpearse contra la ventana.programación y análisis en tiempo real del estado del jardín para optimizar el riego del mismo.</p>
            <p class="line-break margin-top-10"></p>
            <p>Bienestar y ahorro con un control integral de la iluminación exterior, control de la depuración de la piscina yprogramación y análisis en tiempo real del estado del jardín para optimizar el riego del mismo.</p>
        </div>
    </section>
    
    <section>
      <div class="parallax-three">
        <h2>LAVANDERIA AUTOSERVIVO</h2>
      </div>
    </section>
    
    <section>
      <div class="block">
        <H1>LAVANDERIA </H1>
        <p>Hemos denominado instalaciones domoticas de tipo comercial a todos aquellos proyectos que incorporan productos y soluciones con una especial carga de funcionalidad. Cada caso se trata de proyectos únicos y personalizados en los que nuestro cliente ha necesitado de unos servicios de ingeniería e instalación a medida y de muy alta funcionalidad</p>
        <p class="line-break margin-top-10"></p>
        <p class="margin-top-10">Instalación integral en lavandería autoservicio en Toledo.

            En esta ocasión hemos procedido a la instalación domótica para el control de iluminación, acceso, alarmas técnicas y CCTV a una lavandería autoservicio de manera autónoma y controlada a distancia por su propietario a través de su móvil</p>
      </div>
    </section>
      
    </div>

    <div class="restocont">
      <p>Domoticas Integradas Aranjuez</p>
      <img class="logo" src="https://i.ibb.co/8s5hY8b/logo-Domotica.png" height="100">
    </div>
