<h1>Seguridad login api</h1>
<div style="width: 80%; margin: 0 auto;">
    
    <form #insertForm="ngForm">
        
        <label >Name</label>
        <input type="text" class="form-control" #cajaname name="cajaname">
        <label >Password</label>
        <input type="text" class="form-control" #cajapassword name="cajapassword">
        <div class="text-end">
            <button class="btn btn-outline-success" (click)="BuscarToken()">
                Crear
            </button>
        </div>
    </form>

    
</div>
