<div> <table>
    <thead>
        <tr>
            <td>idEmpleado</td>
            <td>apellido</td>
            <td>oficio</td>
            <td>salario</td>
            <td>director</td>
        </tr>
    </thead>
    <tbody >
        <tr *ngFor="let empleado of empleados;let i=index" >
            <td>{{empleado.idEmpleado}}</td>
            <td>{{empleado.apellido}}</td>
            <td>{{empleado.oficio}}</td>
            <td>{{empleado.salario}}</td>
            <td>{{empleado.director}}</td>
        </tr>
    </tbody>
</table></div>