@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
.bg-image {
    background-image: url('https://i.ibb.co/FHngjY8/house-1867187-1920.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 120vb;
  }


  
  body {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #34495e;
    letter-spacing: 1.2px;
    
  }
  .itala{
    font-weight: bold;
    font-size: 60px;
    text-align: center;
  }
  .container {
    width: 90vw; /* Cambié el valor para hacerlo más ancho en pantallas pequeñas */
    max-width: 600px; /* Establecí un ancho máximo para evitar que sea demasiado ancho en pantallas grandes */
    padding: 80px 30px; /* Reduje el relleno para pantallas más pequeñas */
    
    color: #fff;
    margin-top: 150px;
    
    border-radius: 15px;
  }
  
  input,
  textarea
   {
    width: 100%;
    display: block;
    margin-bottom: 15px;
    padding: 10px 12px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background: rgb(255, 255, 255);
    box-sizing: border-box;
    color: #181619;
    outline: none;
     font-family: 'Quicksand', sans-serif;
    &::placeholder {
      color: #181619;
    }
  }
  
  textarea {
    resize: none;
  }
  
  button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    font-weight: bold;
    background: #2c3e50;
    border: none;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.3);
    color: rgb(255, 255, 255);
    transition: all 0.15s ease;
    
    top: 0;
    &:hover {
      color: rgba(255, 255, 255, 0.9);
      box-shadow: 0 6px 10px 2px rgba(0, 0, 0, 0.3);
    }
    &:active {
      top: 2px;
    }
  }
  .container{
    font-family: 'Poppins', sans-serif;
  }
  p {
    text-align: right;
    a {
      color: rgba(255, 255, 255, 0.7);
      font-size: 0.75rem;
      transition: all 0.15s ease;
      &:hover {
        color: white;
      }
    }
  }

  .contact{
    text-align: center;
    color: #ffffff;
  }
 

  @media only screen and (max-width: 450px) {
    .bg-image {
      height: 145vb;
    }
    .itala{
      font-weight: bold;
      font-size: 40px;
      text-align: center;
    }
  }
  .restocont{

    height: 100%;
    background-color: #edeceb;
    padding-bottom: 100px;
    font-family: 'Poppins', sans-serif;

  }
  .restocont p{
    padding-top: 50px;
    text-align: center;
    font-weight: bold;
    font-size: 50px;


  }
  .quienessomos{
    text-align: center;
    width: 100%;
  }






















  
  /* cajas de informacion */

  