<!-- image-form.component.html -->
<div>
  <div class="bg-image" style="padding-top: 1px;">
    
    
  
      <div class="container">
        <p class="itala">Instalamos tú Domótica en Casa</p>
          <h2 class="contact">Contactenos a traves del formulario</h2>
            <form #heroForm="ngForm" (submit)="sendEmail($event)">
              <div class="form-group">
                <label for="nombre" style="color: #ffffff;">Nombre:</label>
                <input type="text" class="form-control" id="nombre" placeholder="Ingrese su nombre" #nombre name="nombre" >
              </div>
              <div class="form-group">
                <label for="correo" style="color: #ffffff;">Correo electrónico:</label>
                <input type="email" class="form-control" id="correo" placeholder="Ingrese su correo electrónico" #correo  name="correo">
              </div>
              <div class="form-group">
                <label for="numero" style="color: #ffffff;">Número de teléfono:</label>
                <input type="tel" class="form-control" id="numero" placeholder="Ingrese su número de teléfono" #numero name="numero">
              </div>
              <div class="form-group">
                <label for="comentarios" style="color: #ffffff;">Observaciones:</label>
                <textarea class="form-control" id="comentarios" rows="3" placeholder="Ingrese sus comentarios" #comentarios  name="comentarios"></textarea>
              </div>
              <button type="submit" (click)="heroForm.resetForm()" class="btn btn-primary btn-block" style="background-color: #3ebbd2; border-color: #00a8c6;">Enviar</button>
            </form>
          
      </div>
      
    </div>
    <div class="restocont">
      
      <p>Que podemos ofrecer </p>
      <hr>
      <app-concept-section></app-concept-section>
      <hr>

      <p>Donde Estamos</p>

      
    </div>
    
  
