/* app.component.css */

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    
    flex-wrap: wrap;
      text-align: center;
  }
  
  .entry {
    display: flex;
    flex-direction: column;
    width: 80%; /* O cualquier otro porcentaje que desees */
    max-width: 600px; /* Un valor máximo para evitar que las cajas sean demasiado anchas */
    margin: 20px auto; /* Centra horizontalmente las cajas */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: #edeceb;
    height: 400px;
  }
  
  .left {
    flex: 1;
    margin-right: 20px;
  }
  
  .left img {
    max-width: 200px;
    height: auto;
    border-radius: 8px;
  }
  
  .right {
    flex: 2;
    text-align: left;
  }
  
  .right h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 10px;
    padding-top: 20px;
    text-align: center;
  }
  
  .right p {
    color: #555;
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 10px;
  }
  
  @media only screen and (max-width: 768px) {
    .container {
      flex-direction: column;
      text-align: center;
    }
  
    .entry {
      flex-direction: column;
      height: 90%;
    }
  
    .left {
      margin-right: 0;
      margin-bottom: 20px;
    }
  }
  