<nav class="nav">
    <input type="checkbox" id="nav__checkbox" class="nav__checkbox">
    <label for="nav__checkbox" class="nav__toggle">
      <img src="https://img.icons8.com/material-outlined/30/000000/menu--v1.png" class="hamburger" />
      <img src="https://img.icons8.com/plumpy/30/000000/x.png" class="close" />
    </label>
  
    <ul class="nav__menu">
      <li>
        <a href="#">
          <img class="logo" src="https://i.ibb.co/8s5hY8b/logo-Domotica.png" height="70" />
        </a>
      </li>
      <li><a  href="#" style="color: #00a8c6; font-size: 18px; font-weight: bold;">Inicio</a></li>
      <li>
        <a href="#" id="portfolio">Servicios</a>
        <ul class="children">
          <li><a href="#">Iluminación</a></li>
          <li><a href="#">Persianas, Toldos y Estores</a></li>
          <li><a href="#">Climatización</a></li>
          <li><a href="#">Multimedia</a></li>
          <li><a href="#">Seguridad</a></li>
          <li><a href="#">Energía</a></li>
          <li><a href="#">Riego</a></li>
          <li><a href="#">Servicio eléctrico</a></li>
        </ul>
      </li>
      <li><a  style="color: #00a8c6; font-size: 18px; font-weight: bold;" routerLink="espe">Proyectos</a></li>
      <li><a  style="color: #00a8c6; font-size: 18px; font-weight: bold;">Blog</a></li>
    </ul>
  </nav>
  