body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "verdana", sans-serif;
  color: grey;
}
.nav {
  border-bottom: 1px solid grey;
  background-color: #E4DED0;
}
.nav__toggle {
  position: absolute;
  cursor: pointer;
  margin: 2rem 2rem;
  right: 0;
}

.close,
input[type="checkbox"] {
  display: none;
}
.hamburger {
  margin-top: 0.2rem;
}
.nav__menu {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  margin: 1rem;
}
li {
  list-style: none;
  display: none;
}
li:first-child {
  margin-right: auto;
  display: block;
}
.nav__menu a {
  text-decoration: none;
  color: initial;
  font-size: 1.2rem;
}
#nav__checkbox:checked ~ ul.nav__menu li {
  display: block;
}
#nav__checkbox:checked ~ label.nav__toggle .hamburger {
  display: none;
}
#nav__checkbox:checked ~ label.nav__toggle .close {
  display: block;
}
.children {
  color: #ABCCBD;
  display: none;
  position: absolute;
  background-color: #e4ded0e2;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  
}

.nav__menu li:hover .children {
  display: block;
  color: #ABCCBD;
  border-radius: 10px;
  
}

.children li  {
  padding: 10px;
  
  border-radius: 10px;
}
.children li a{
  color: #181619;
  font-weight: bold
}

.children li a:hover {
  border-bottom: #7DBEB8 2px solid;
  color: #e32f21;
  transition: all .3s;
}
#portfolio{
  color: #7DBEB8;
  font-size: 18px; font-weight: bold

}
@media only screen and (min-width: 768px) {
  .nav__toggle {
    display: none;
  }
  .nav__menu {
    flex-direction: row;
  }
  .nav__menu li {
    display: block;
  }
}
